@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    El Salvador<br />
    Santa Ana<br />
    <abbr title="Phone">50377425781</abbr>
    
</address>

<address>
    <strong>Support:</strong> <a href="nestormonroy93@gmail.com">nestormonroy93@gmail.com</a><br />
   
</address>
